body {
  font-family: PT Mono, sans-serif;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/094/114/original/cutoutClouds.jpg?1692589220");
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
h1 {
  margin-bottom: 0;
  line-height: 1;
  letter-spacing: 1.2px;
}
ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  list-style: none;
  float: left;
}
li:first-letter {
  text-transform: capitalize;
}
hr {
  border-top: 5px solid rgba(96, 128, 146, 0.7);
}
footer {
  max-width: 600px;
  font-size: 12px;
  margin: 20px 0 0 -15px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  background-size: 100%;
  padding: 5px 8px;
  border: 1px #608092 solid;
  border-radius: 5px;
}
#current-weather-icon {
  width: 200px;
  height: 200px;
  margin-top: 10px;
}
#weather-description {
  font-size: 20px;
  color: #000000;
  text-align: center;
  text-transform: capitalize;
}
#weather-conditions {
  position: relative;
  left: 5px;
  margin-top: 20px;
  font-size: 20px;
  color: black;
}
#weather-conditions li {
  font-size: 15px;
  color: #000000;
  margin: 5px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 50px auto;
  background-color: #d3e2e9;
  padding: 15px;
  border: 1px #608092 solid;
  border-radius: 5px;
}
.time {
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
}
.searched-city-temperature {
  display: block;
  margin-top: 80px;
  font-size: 50px;
  line-height: 1;
  margin-left: -145px;
}
.units {
  position: relative;
  font-size: 20px;
  color: #000000;
  top: -20px;
  font-weight: 700;
  left: -30px;
}
.border-right {
  border-right: 5px solid rgba(182, 201, 212, 0.7);
}
.forecast-temperature-min {
  opacity: 0.6;
}
.weather-forecast-day {
  font-size: 15px;
  text-align: center;
}
.forecast-temperature {
  font-size: 14px;
  text-align: center;
}
.forecast img {
  max-width: 90%;
  max-height: 90%;
}
.img-attribution {
  margin-top: 5px;
}
